:root{
  --main-color:#404040;
  --text-color:white;

  
}

html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: Consolas,monaco,monospace; 
    background: #333333;
}

#mainContent {
    height: 90vh;
    width: 100vw;
    background: #404040;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#typing-area {
    height: 50vh;
    width: 50vw;
    display: grid;
    grid-template: 1fr / 1fr;
}

#text-to-type {
    overflow: wrap;
    color: var(--text-color);
    grid-area: 1 / 1;
    z-index: 1;
    padding: 0;
    margin: 0;
    font-family: Consolas,monaco,monospace;
    font-size: 20px;
    font-weight: 0;
}

#text-to-type > p {
    margin: 0;
    padding: 0;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}

.double-tab {
    display: inline-block;
    margin-left: 80px;
}

#text {
    background: transparent;
    grid-area: 1 / 1;
    color: transparent;
    z-index: 2;
    font-family: Consolas,monaco,monospace;
    font-size: 20px;
    padding: 0;
    margin: 0;
    caret-color: var(--text-color);
    text-decoration: none;
}

#header {
    height: fit-content;
    width: 100vw;
    box-sizing: border-box;
    position: relative;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#profile-pic > img {
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    padding-top: 3px;
}


/* Dropdown Button */
button{
  font-family: Consolas,monaco,monospace;
  font-weight: 550;
  font-size: medium;
  background-color: transparent;
  border: none;
  min-width: 150px;
  padding: 16px;
}

.dropdown-content {
  font-family: Consolas,monaco,monospace;
  font-weight: 550;
  font-size: medium;
  display: none;
  position: absolute;
  right: 0;
  background-color: transparent;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropbtn {
  border-radius: 25px 25px;
  background-color:orange;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content a {
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown-content button:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: 	#F28C28;
}

.typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 7.5s steps(30, end) infinite,
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    0% { width: 0% }
    25% { width: 100% }
    50% { width: 100% }
    75% { width: 0% }
    100% { width: 0% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}


